{% extends "layout/dashboard-base.html" %}
{% load template_filetrs %}
{% load static %}

{% block title %}
  {{ user }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-clients-list-view' %}">Clients</a></li>
  <li class="breadcrumb-item">{{ user }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-3">
      <div class="card">
        <div class="card-header fw-bold">
          Client details
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              First name
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.first_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              Last name
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.last_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              E-mail
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.email }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              Phone number
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.phone_number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-6 col-xl-6 mb-3">
      <div class="card">
        <div class="card-header fw-bold">
          Client address
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              Country
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.address.country }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              City
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.address.city }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              Street
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.address.postal_code }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 fw-bold">
              Street / number
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6">
              {{ user.address.street }} / {{ user.address.number }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user.rents.count > 0 %}
    <h3>Rents</h3>
    <hr>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Rent id</th>
          <th>Rented at</th>
          <th>Rented to</th>
          <th>Rented car</th>
          <th class="text-end">Rent details</th>
        </tr>
        </thead>
        <tbody>
        {% for rent in user.rents.all %}
          <tr>
            <td>
              {{ rent.id }}
            </td>
            <td>
              {{ rent.rented_at }}
            </td>
            <td>
              {{ rent.rented_to }}
            </td>
            <td>
              <a href="{% url 'dashboard-car-detail-view' rent.rented_car_id %}">
                {{ rent.rented_car }}
              </a>
            </td>
            <td class="text-end">
              <a href="{% url 'dashboard-rent-detail-view' rent.id %}">
                <i class="fa fa-external-link-alt"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
