{% extends "layout/dashboard-base.html" %}
{% load template_filetrs %}
{% load static %}

{% block title %}
  {{ user }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-clients-list-view' %}">Clients</a></li>
  <li class="breadcrumb-item">{{ user }}</li>
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      Client {{ user.first_name }} {{ user.last_name }}
    </div>

    <div class="card-body">
      First name: {{ user.first_name }}<br>
      Last name: {{ user.last_name }}<br>
      Email: {{ user.email }}<br>
      Phone number: {{ user.phone_number }}<br>
      <br>
      Address
      <hr>
      Country: {{ user.address.country }} <br>
      City: {{ user.address.city }} <br>
      Postal code: {{ user.address.postal_code }} <br>
      Street: {{ user.address.street }} <br>
      Number: {{ user.address.number }} <br>

    </div>
  </div>
{% endblock %}
