{% extends "layout/dashboard-base.html" %}
{% load template_filetrs %}
{% load static %}

{% block title %}
  {{ user }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-clients-list-view' %}">Clients</a></li>
  <li class="breadcrumb-item">{{ user }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Client details
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>First name</strong>
            </div>
            <div class="col-md-8">
              {{ user.first_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Last name</strong>
            </div>
            <div class="col-md-8">
              {{ user.last_name }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>E-mail</strong>
            </div>
            <div class="col-md-8">
              {{ user.email }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Phone number</strong>
            </div>
            <div class="col-md-8">
              {{ user.phone_number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Client address
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>Country</strong>
            </div>
            <div class="col-md-8">
              {{ user.address.country }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>City</strong>
            </div>
            <div class="col-md-8">
              {{ user.address.city }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Street</strong>
            </div>
            <div class="col-md-8">
              {{ user.address.postal_code }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Street / number</strong>
            </div>
            <div class="col-md-8">
              {{ user.address.street }} / {{ user.address.number }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user.rents.count > 0 %}
    <div class="card mb-4">
      <div class="card-header text-bold">
        Rents
      </div>
      <div class="card-body">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Rented at</th>
            <th>Rented to</th>
            <th>Rented car</th>
          </tr>
          </thead>
          <tbody>
          {% for rent in user.rents.all %}
            <tr>
              <td>
                {{ rent.rented_at }}
              </td>
              <td>
                {{ rent.rented_to }}
              </td>
              <td>
                <a href="{% url 'dashboard-car-detail-view' rent.rented_car_id %}">
                {{ rent.rented_car }}
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
