{% extends "layout/dashboard-base.html" %}

{% block title %}
  Update {{ user }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-clients-list-view' %}">Clients</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-client-detail-view' user.id %}">{{ user }}</a></li>
  <li class="breadcrumb-item">Update</li>
{% endblock %}

{% block content %}
  <form id="updateClient" method="post">
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
          <div class="alert-danger">
            {{ field|escape }}:
            {% for error in errors %}
              {{ error|escape }}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}
    <div class="card mb-4">
      <div class="card-header  fw-bold">
        Account data
      </div>
      <div class="card-body">
        E-mail
        <div class="input-group mb-3">
          {{ form.email }}
          <span class="input-group-text" >
                <span class="fas fas fa-at"></span>
            </span>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header  fw-bold">
        Personal data
      </div>
      <div class="card-body">
        First name
        <div class="input-group mb-3">
          {{ form.first_name }}
          <span class="input-group-text" >
                <span class="fas fas fa-user"></span>
            </span>
        </div>
        Last name
        <div class="input-group mb-3">
          {{ form.last_name }}
          <span class="input-group-text" >
                <span class="fas fas fa-user"></span>
            </span>
        </div>
        Phone number
        <div class="input-group mb-3">
          {{ form.phone_number }}
          <span class="input-group-text" >
                <span class="fas fas fa-phone"></span>
            </span>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header  fw-bold">
        Address
      </div>
      <div class="card-body">
        Country
        <div class="input-group mb-3">
          {{ form.country }}
          <span class="input-group-text" >
                <span class="fas fas fa-map-marked-alt"></span>
          </span>
        </div>
        City
        <div class="input-group mb-3">
          {{ form.city }}
          <span class="input-group-text" >
                <span class="fas fas fa-map-marked-alt"></span>
          </span>
        </div>
        Postal code
        <div class="input-group mb-3">
          {{ form.postal_code }}
          <span class="input-group-text" >
                <span class="fas fas fa-map-marked-alt"></span>
            </span>
        </div>
        Street
        <div class="input-group mb-3">
          {{ form.street }}
          <span class="input-group-text" >
                <span class="fas fas fa-map-marked-alt"></span>
          </span>
        </div>
        House number
        <div class="input-group mb-3">
          {{ form.number }}
          <span class="input-group-text" >
                <span class="fas fas fa-map-marked-alt"></span>
          </span>
        </div>
      </div>
    </div>
  </form>

  <div class="card mb-4">
    <div class="card-footer text-center">
      <a class="mb-2 mr-2 btn btn-shadow ml-3 btn-outline-danger"
         href="{% url 'dashboard-clients-list-view' %}">Cancel</a>
      <button class="mb-2 btn btn-shadow btn-primary" type="submit" form="updateClient" value="Save">Save</button>
    </div>
  </div>

{% endblock %}
