{% extends "layout/dashboard-base.html" %}
{% load template_filetrs %}
{% load static %}

{% block title %}
  <strong class="text-danger">DELETE RENT</strong> #{{ rent.id }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-rents-list-view' %}">Rents</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-rent-detail-view' rent.id %}">#{{ rent.id }}</a></li>
  <li class="breadcrumb-item text-danger">Delete - #{{ rent.id }}</li>
{% endblock %}

{% block content %}
  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input class="btn btn-danger" type="submit" value="Confirm">
  </form>
{% endblock %}
