<ul class="nav flex-column">
  <li class="nav-item">
    <a href="{% url 'dashboard-view' %}"
       class="nav-link {% if request.resolver_match.url_name == 'dashboard-view' %} active {% endif %}">
      <i class="fas fa-th"></i>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'client-cars-list-view' %}"
       class="nav-link {% if request.resolver_match.url_name == 'client-cars-list-view' %} active {% endif %}">
      <i class="fas fa-car"></i>
      Rented cars
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'client-addresses-list-view' %}"
       class="nav-link {% if request.resolver_match.url_name == 'client-addresses-list-view' %} active {% endif %}">
      <i class="fa-solid fa-address-card"></i>
      Addresses
    </a>
  </li>

</ul>
