{% extends "layout/dashboard-base.html" %}
{% load template_filetrs %}
{% load static %}

{% block title %}
  {{ car }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-cars-list-view' %}">Cars</a></li>
  <li class="breadcrumb-item">{{ car }}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Car details
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>Manufacturer</strong>
            </div>
            <div class="col-md-8">
              {{ car.manufacturer }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Model</strong>
            </div>
            <div class="col-md-8">
              {{ car.model }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Mileage</strong>
            </div>
            <div class="col-md-8">
              {{ car.mileage }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Production</strong>
            </div>
            <div class="col-md-8">
              {{ car.production_date }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Engine details
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>Volume</strong>
            </div>
            <div class="col-md-8">
              {{ car.engine.volume }} cm<sup>3</sup>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Horsepower</strong>
            </div>
            <div class="col-md-8">
              {{ car.engine.horsepower }} HP
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Fuel type</strong>
            </div>
            <div class="col-md-8">
              {{ car.engine.get_fuel_type_display }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Transmission type</strong>
            </div>
            <div class="col-md-8">
              {{ car.get_transmission_type_display }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Details
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>Air conditioning</strong>
            </div>
            <div class="col-md-8">
              {{ car.air_conditioning }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Body type</strong>
            </div>
            <div class="col-md-8">
              {{ car.get_body_type_display }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Drivetrain type</strong>
            </div>
            <div class="col-md-8">
              {{ car.get_drivetrain_type_display }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Seats / Luggage</strong>
            </div>
            <div class="col-md-8">
              {{ car.seats }} / {{ car.trunk_volume }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Pricing
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>Status</strong>
            </div>
            <div class="col-md-8">
              {% if car.rent is not None %}
                <span class="text-warning">
                Rented
                </span>
              {% else %}
                <span class="text-success">
                Ready to rent
                </span>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Daily</strong>
            </div>
            <div class="col-md-8">
              {{ car.daily_rent_price }} PLN
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Weekly</strong>
            </div>
            <div class="col-md-8">
              {{ car.weekly_rent_price }} PLN
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Monthly</strong>
            </div>
            <div class="col-md-8">
              {{ car.monthly_rent_price }} PLN
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-header">
          <strong>
            Servicing
          </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-bold">
              <strong>Service interval</strong>
            </div>
            <div class="col-md-8">
              {{ car.service_mileage_interval }} km
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>To next service</strong>
            </div>
            <div class="col-md-8">
              {{ car.last_service.next_service_mileage|subtract:car.mileage }} km
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Overview date</strong>
            </div>
            <div class="col-md-8">
              {{ car.technical_overview_date }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <strong>Insurance date</strong>
            </div>
            <div class="col-md-8">
              {{ car.insured_date }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header text-bold">
      <strong>Services</strong>
    </div>
    <div class="card-body">
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Date</th>
          <th>Mileage</th>
          <th>Next service</th>
          <th>Action</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for service in car.services.all %}
          <tr>
            <td>
              {{ service.created_at }}
            </td>
            <td>
              {{ service.mileage }}
            </td>
            <td>
              {{ service.next_service_mileage }} / {{ service.next_service_date }}
            </td>
            <td>
              {{ service.action }}
            </td>
            <td>
              {{ service.description }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if car.logs.count > 0 %}
    <div class="card mb-4">
      <div class="card-header text-bold">
        <strong>Daily log</strong>
      </div>
      <div class="card-body">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Date</th>
            <th>Mileage</th>
            <th>Difference to previous day</th>
          </tr>
          </thead>
          <tbody>
          {% for log in car.logs.all %}
            <tr>
              <td>
                {{ log.created_at }}
              </td>
              <td>
                {{ log.mileage }}
              </td>
              <td>
                {{ log.difference_to_previous_day }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

{% endblock %}
