{% extends "layout/dashboard-base.html" %}
{% load template_filetrs %}
{% load static %}

{% block title %}
  {{ car }}
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-cars-list-view' %}">Cars</a></li>
  <li class="breadcrumb-item">{{ car }}</li>
{% endblock %}

{% block content %}
  <div class="card card-widget widget-user shadow">

    <div class="ribbon-wrapper ribbon-xl">
      <div class="ribbon bg-success text-lg">
        Ready to rent
      </div>
    </div>
    <div class="widget-user-header bg-secondary">
      <h3 class="widget-user-username"><strong>{{ car.manufacturer }} {{ car.model }}</strong></h3>
      <h5 class="widget-user-desc">#{{ car.id }}</h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle elevation-2 bg-white" src="{% static 'img/car.svg' %}" alt="User Avatar">
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">{{ car.mileage }} km</h5>
            <span class="description-text">Mielage</span>
            <h5 class="description-header">{{ car.last_service.next_service_mileage|subtract:car.mileage }} km</h5>
            <span class="description-text">To next service</span>
          </div>
        </div>
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">
              {{ car.get_body_type_display }} <br>
              {{ car.get_transmission_type_display }} <br>
              {{ car.get_drivetrain_type_display }} <br>
              {{ car.seats }} Seats<br>
              {{ car.trunk_volume }} Luggage<br>
            </h5>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">
              {{ car.daily_rent_price }} PLN/day <br>
              {{ car.weekly_rent_price }} PLN/week<br>
              {{ car.monthly_rent_price }} PLN/month<br>
            </h5>
            <span class="description-text">Pricing</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="info-box bg-info">
        <span class="info-box-icon"><i class="fas fa-road"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Mileage</span>
          <span class="info-box-number">{{ car.mileage }}</span>

          <div class="progress">
            <div class="progress-bar"
                 style="width: {{ car.last_service.next_service_mileage|subtract:car.mileage|percentage_of:car.service_mileage_interval }}%"></div>
          </div>
          <span class="progress-description">
                  {{ car.last_service.next_service_mileage|subtract:car.mileage }} km to next service ({{ car.last_service.next_service_mileage }} km).
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header text-bold">
      Services
    </div>
    <div class="card-body">
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Date</th>
          <th>Mileage</th>
          <th>Next service</th>
          <th>Action</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for service in car.services.all %}
          <tr>
            <td>
              {{ service.created_at }}
            </td>
            <td>
              {{ service.mileage }}
            </td>
            <td>
              {{ service.next_service_mileage }} / {{ service.next_service_date }}
            </td>
            <td>
              {{ service.action }}
            </td>
            <td>
              {{ service.description }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% if car.logs.count > 0 %}
    <div class="card">
      <div class="card-header text-bold">
        Daily log
      </div>
      <div class="card-body">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Date</th>
            <th>Mileage</th>
            <th>Difference to previous day</th>
          </tr>
          </thead>
          <tbody>
          {% for log in car.logs.all %}
            <tr>
              <td>
                {{ log.created_at }}
              </td>
              <td>
                {{ log.mileage }}
              </td>
              <td>
                {{ log.difference_to_previous_day }}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

{% endblock %}
