{% extends "layout/dashboard-base.html" %}

{% block title %}
  Update car
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item"><a href="{% url 'dashboard-view' %}">Dashboard</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-cars-list-view' %}">Cars</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dashboard-car-detail-view' car.id %}">{{ car }}</a></li>
  <li class="breadcrumb-item">Update</li>
{% endblock %}

{% block content %}
  <form id="updateCar" method="post">
    {% if form.errors %}
      <div class="alert alert-danger">
        {{ form.errors }}
      </div>
    {% endif %}
    <div class="p-2">
      {% csrf_token %}

      <div class="card">
        <div class="card-header text-bold">
          Car Details
        </div>
        <div class="card-body">
          Manufacturer
          <div class="input-group mb-3">
            {{ form.manufacturer }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-car"></span>
              </div>
            </div>
          </div>
          Model
          <div class="input-group mb-3">
            {{ form.model }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fas fa-car"></span>
              </div>
            </div>
          </div>
          Mileage
          <div class="input-group mb-3">
            {{ form.mileage }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fas fa-tachometer-alt"></span>
              </div>
            </div>
          </div>
          Production date
          <div class="input-group mb-3">
            {{ form.production_date }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fas fa-calendar"></span>
              </div>
            </div>
          </div>

          Air conditioning
          <div class="input-group mb-3">
            <select name="air_conditioning" class="form-control">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-snowflake"></span>
              </div>
            </div>
          </div>

          Transmission type
          <div class="input-group mb-3">
            {{ form.transmission_type }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-car"></span>
              </div>
            </div>
          </div>
          Drivetrain type
          <div class="input-group mb-3">
            {{ form.drivetrain_type }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-truck-monster"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-bold">
          Car body details
        </div>

        <div class="card-body">
          Body type
          <div class="input-group mb-3">
            {{ form.body_type }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-car"></span>
              </div>
            </div>
          </div>
          Seats
          <div class="input-group mb-3">
            {{ form.seats }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-users"></span>
              </div>
            </div>
          </div>
          Trunk volume (luggage)
          <div class="input-group mb-3">
            {{ form.trunk_volume }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-luggage-cart"></span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header text-bold">
          Engine details
        </div>
        <div class="card-body">
          Engine horsepower
          <div class="input-group mb-3">
            {{ form.horsepower }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-car"></span>
              </div>
            </div>
          </div>
          Engine volume
          <div class="input-group mb-3">
            {{ form.volume }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-car"></span>
              </div>
            </div>
          </div>
          Engine fuel type
          <div class="input-group mb-3">
            {{ form.fuel_type }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-gas-pump"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-bold">
          Rent pricing
        </div>
        <div class="card-body">
          Daily rent price
          <div class="input-group mb-3">
            {{ form.daily_rent_price }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-dollar-sign"></span>
              </div>
            </div>
          </div>
          Weekly rent price
          <div class="input-group mb-3">
            {{ form.weekly_rent_price }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-dollar-sign"></span>
              </div>
            </div>
          </div>
          Monthly rent price
          <div class="input-group mb-3">
            {{ form.monthly_rent_price }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-dollar-sign"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header text-bold">
          Servicing details
        </div>
        <div class="card-body">
          Service mileage interval
          <div class="input-group mb-3">
            {{ form.service_mileage_interval }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-road"></span>
              </div>
            </div>
          </div>
          Insured date
          <div class="input-group mb-3">
            {{ form.insured_date }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
            </div>
          </div>
          Technical overview date
          <div class="input-group mb-3">
            {{ form.technical_overview_date }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card">
    <div class="card-footer text-right">
      <a class="mb-2 mr-2 btn btn-shadow ml-3 btn-outline-danger" href="{% url 'dashboard-cars-list-view' %}">Cancel</a>
      <button class="mb-2 btn btn-shadow btn-primary" type="submit" form="updateCar" value="Save">Save</button>
    </div>
  </div>
{% endblock %}
