{% extends "layout/dashboard-base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block breadcumbs %}
  <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="#">Dashboard</a></li>
  <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
{% endblock %}

{% block content %}
{% endblock %}

{% block notifications %}
  <li class="mb-2">
    <a class="dropdown-item border-radius-md" href="javascript:;">
      <div class="d-flex py-1">
        <div class="my-auto">
          <img src="./assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h6 class="text-sm font-weight-normal mb-1">
            <span class="font-weight-bold">New message</span> from Laur
          </h6>
          <p class="text-xs text-secondary mb-0">
            <i class="fa fa-clock me-1"></i>
            13 minutes ago
          </p>
        </div>
      </div>
    </a>
  </li>
{% endblock %}
