{% load static %}

<!doctype html>
<html lang="en">
{% include 'layout/header.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
{% endblock %}

<body class="text-center">

<main class="form-signin">
  <form method="post">
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
          <div class="alert-danger">
            {{ field|escape }}:
            {% for error in errors %}
              {{ error|escape }}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      {{ form.username }}
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      {{ form.password }}
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign in</button>
    <a class="w-100 btn btn-lg btn-secondary" href="{% url 'welcome-view' %}">Back</a>
  </form>
</main>
</body>
</html>
