{% load static %}

<!doctype html>
<html lang="en">
{% include 'layout/header.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

<body class="text-center">

<main class="form-signin">
<div class="container-fluid">
  <form method="post">
    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field, errors in form.errors.items %}
          <div class="alert-danger">
            {{ field|escape }}:
            {% for error in errors %}
              {{ error|escape }}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="card mb-4">
      <div class="card-body">
        <div class="form-floating">
          {{ form.email }}
          <label for="1">Email address</label>
        </div>
        <div class="form-floating">
          {{ form.password1 }}
          <label for="2">Password</label>
        </div>
        <div class="form-floating">
          {{ form.password2 }}
          <label for="floatingPassword2">Password confirmation</label>
        </div>
        <div class="form-floating">
          {{ form.first_name }}
          <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating">
          {{ form.last_name }}
          <label for="floatingInput">Last name</label>
        </div>
        <div class="form-floating">
          {{ form.phone_number }}
          <label for="floatingInput">Phone number</label>
        </div>
        <div class="form-floating">
          {{ form.country }}
          <label for="floatingInput">Country</label>
        </div>
        <div class="form-floating">
          {{ form.city }}
          <label for="floatingInput">City</label>
        </div>
        <div class="form-floating">
          {{ form.postal_code }}
          <label for="floatingInput">Postal code</label>
        </div>
        <div class="form-floating">
          {{ form.street }}
          <label for="floatingInput">Street</label>
        </div>
        <div class="form-floating">
          {{ form.number }}
          <label for="floatingInput">House number</label>
        </div>
      </div>
    </div>


    <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign in</button>
    <a class="w-100 btn btn-lg btn-secondary" href="{% url 'welcome-view' %}">Back</a>
  </form>
</div>

</main>
</body>
</html>
