{% include 'layout/header.html' %}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'welcome-view' %}"><b>PWr</b> caRent</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign up to caRent</p>
      <form method="post">
        {% if form.errors %}
          <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
              <div class="alert-danger">
                {{ field|escape }}:
                {% for error in errors %}
                  {{ error|escape }}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
        {% csrf_token %}
        Account data
        <hr>
        <div class="input-group mb-3">
          {{ form.email }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password1 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password2 }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        Personal data
        <hr>
        <div class="input-group mb-3">
          {{ form.first_name }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.last_name }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.phone_number }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>

        Address
        <hr>

        <div class="input-group mb-3">
          {{ form.country }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-map-marked-alt"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.city }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-map-marked-alt"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.postal_code }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-map-marked-alt"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.street }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-map-marked-alt"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.number }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-map-marked-alt"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          <a href="{% url 'welcome-view' %}" class="btn btn-secondary btn-block">Back</a>
        </div>

        <input type="hidden" name="next" value={{ request.GET.next }}>
      </form>
    </div>
  </div>
</div>

{% include 'layout/scripts.html' %}


