<li class="nav-item">
  <a href="{% url 'dashboard-view' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard-view' %} active {% endif %}">
    <i class="nav-icon fas fa-th"></i>
    <p>
      Dashboard
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="{% url 'dashboard-cars-list-view' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard-cars-list-view' %} active {% endif %}">
    <i class="nav-icon fas fa-car"></i>
    <p>
      Cars
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="{% url 'dashboard-clients-list-view' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard-clients-list-view' %} active {% endif %}">
    <i class="nav-icon fas fa-users"></i>
    <p>
      Clients
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="{% url 'dashboard-rents-list-view' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard-rents-list-view' %} active {% endif %}">
    <i class="nav-icon fas fa-external-link-alt"></i>
    <p>
      Rents
    </p>
  </a>
</li>
